.insert-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insert-form {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.insert-form input {
  font-size: 15px;
  height: 40px;
}

.insert-form textarea {
  font-size: 15px;
  height: 200px;
}

.insert-form label {
  margin-top: 10px;
}

.insert-form select {
  font-size: 15px;
  height: 40px;
}

.insert-form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007BFF;
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.insert-form button:hover {
  background-color: #0056b3;
}
